{% extends "layout.html" %}

{% block title %}
    Sports
{% endblock %}


{% block main %}
    <h1 class="sports_header">Sporting Events for the 2019-2020 Year</h1>

    <br>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript></script>
</head>

    <div class="row justify-content-center">
            <form class="form-inline my-4 my-lg-0" method="post" >
                <input class="form-control" type="search" name="Search"  placeholder="Events" required>
                <div style="padding-left:10px"></div>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
    <br>
    <br>

    <div>
        {% for event in EventList %}
            <br>
            <table style="width:100%;">
            <tbody>
                <div class="card">
                <td style="width:30%"><img class"card-img-top" style="max-width:300px; height:auto;display:block;"src="{{ event.Image }}"  alt="Card image cap"></td>
                <td style="width=80%;">
                    <div class="card-body" style="text-align:center;">
                    <h5 class="card-title">{{ event.Event_name }}</h5>
                    <p class="card-text">{{ event.Description }}</p>
                </div>
              <ul class="list-group list-group-flush" style="text-align:center;">
                <li class="list-group-item">{{ event.conv_Event_date }} • {{ event.Time }}</li>
                <li class="list-group-item">{{ event.Location }}</li>
              </ul>
              <div class="card-body" style="text-align:center;">
                <a href="{{ event.Ticket_link }}" class="card-link">Ticket Link</a>
                <a href="#" class="card-link">Google Calendar Link</a>
              </div>
            </div>
            </td>
            </tbody>
            </table>
        {% endfor %}
    </div>
{% endblock %}